<div class="confirm-user">
    <div class="progress-bar" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="about">
        <img src="/assets/img/wait.png" alt="usuario" width="80px" height="80px">
        <h1>Estamos quase lá</h1>
        <p><mdb-icon fas icon="quote-left"></mdb-icon> Sua conta está quase pronta, precisamos confirmar se você está utilizando um email válido. Siga as intruções para que o seu cadastro seja ativado com sucesso. Caso deseje pode efetuar um novo cadastro clicando no botão abaixo <mdb-icon fas icon="quote-right"></mdb-icon> </p>
        <button mdbBtn type="button" color="indigo" outline="true" (click)="toNewUser()" mdbWavesEffect>VOLTAR E RECOMEÇAR</button> 
    </div>
    <div class="main z-depth-2">
        <div class="header">
            <img src="/assets/img/avatar/avatar-new-user.png" alt="usuario" width="80px" height="80px">
            <h6>Confirme seu cadastro</h6>
            <p>Sua conta precisa ser confirmada</p>
            <mdb-badge style="font-size: 13px; font-weight: normal;" pill="true" primary="true">{{ email }}</mdb-badge>
        </div>
        <div class="body">
            <div class="form">
                <p>
                    Olá {{ name }}
                    um código de verificação foi enviado para 
                    o seu email, insirá-o para confirmar seu cadastro. Caso for necessário
                    click <span class="link" (click)="resendCode()">aqui</span> para reenviar o código. Atenção, seu cadastro só será confirmado
                    se o código estiver correto.
                </p>
                <mat-form-field class="input-width" appearance="outline">
                    <mat-label>Código</mat-label>
                    <input [formControl]="code" matInput autofocus required>
                    <mat-icon matSuffix>code</mat-icon>
                    <mat-error>Por favor insira o código</mat-error>
                </mat-form-field>
                <button class="z-depth-0" mdbBtn type="button" block="true" color="indigo" [disabled]="code.invalid" (click)="finalizeRegistration()" mdbWavesEffect>FINALIZAR CADASTRO</button>
            </div>
        </div>
        <div class="footer">
            <hr>
            <p>© 2020 Todos os direitos autorais estão reservados</p>
        </div>
    </div>
</div>
