<app-menu></app-menu>
<div class="body body-background">
    <div class="hero hero-background">
        <div class="row header-page">
            <div class="col-sm-6 col-md-8 col-lg-9 col-xl-10">
                <div class="name-page">
                    <mat-icon>style</mat-icon>
                    <h2>Inventário</h2>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="showModalCreate(modalCreate)" mdbWavesEffect>NOVO INVENTÁRIO</button>
            </div>
        </div>
    </div>
    <div class="score z-depth-1-half">
        <div class="header">
            <app-income></app-income>
            <div class="all-delete">
                <div class="alert alert-warning" role="alert" *ngIf="inventoriesSelected.length > 1">
                    {{ inventoriesSelected.length }} selecionado(s) ...
                    <button (click)="deleteInventoriesSelected()" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="main">
            <ngx-datatable
                [rows]="rows"
                class="material"
                [loadingIndicator]="loading"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [messages]="{emptyMessage: '<center>Nenhuma contagem cadastrada</center>', totalMessage: 'total', selectedMessage: 'selecionado'}"
                [selectionType]="'checkbox'"
                (select)="whenSelecting($event)"
                [selected]="inventoriesSelected"
                [limit]="6"
            >
            <ngx-datatable-column
                [width]="60"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [headerCheckboxable]="true"
                [checkboxable]="true">
            </ngx-datatable-column>
                <ngx-datatable-column name="ID" [width]="10" prop="id"></ngx-datatable-column>
                <ngx-datatable-column name="Saldo atual" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{ row.currentBalance | currency:'BRL'  }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Saldo real" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{ row.actualBalance | currency:'BRL' }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Registrado em" [width]="100">
                    <ng-template let-row="row" ngx-datatable-cell-template>{{ row.registeredIn | date: 'dd/MM/yyyy' }}</ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Ações" [width]="100">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <button class="button-actions" (click)="showModalUpdate(row, modalUpdate)" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button class="button-actions" (click)="deleteInventory(row)" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<div class="mobile body-background">
    <div class="hero hero-background">
        <div class="header-page">
            <div class="name-page">
                <div class="name-page">
                    <mat-icon>style</mat-icon>
                    <h2>Inventário</h2>
                </div>
            </div>
            <button type="button" mdbBtn color="light" class="z-depth-0" (click)="showModalCreate(modalCreate)" mdbWavesEffect>NOVO INVENTÁRIO</button>
        </div>
    </div>
    <div class="score">
        <app-income></app-income>
        <ngx-datatable
            [rows]="rows"
            class="material z-depth-0"
            [loadingIndicator]="loading"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [messages]="{emptyMessage: '<center>Nenhuma movimentação cadastrada</center>' }"
            [limit]="6"
        >
            <ngx-datatable-column name="ID" [width]="100" prop="id"></ngx-datatable-column>
            <ngx-datatable-column name="Saldo atual" [width]="200">
                <ng-template let-row="row" ngx-datatable-cell-template>{{ row.currentBalance | currency:'BRL' }}</ng-template>
            </ngx-datatable-column>  
            <ngx-datatable-column name="Saldo real" [width]="100" prop="actualBalance">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    <span class="mobile-hidden">{{ column.name }}</span>
                  </ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span class="mobile-hidden">{{ value | currency:'BRL' }}</span>
                  </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Ações" [width]="100">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button class="btn-more" [matMenuTriggerFor]="actions"  mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actions="matMenu">
                        <button style="outline: none;" mat-menu-item (click)="showModalUpdate(row, modalUpdate)">
                            <mat-icon>edit</mat-icon>Editar
                        </button>
                        <button mat-menu-item (click)="deleteInventory(row)">
                            <mat-icon>delete</mat-icon>Deletar
                        </button>
                    </mat-menu> 
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
<app-footer></app-footer>

<div mdbModal #modalCreate="mdbModal" class="modal fade modal-zindex">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" (click)="modalCreate.hide()">
                <span>×</span>
                </button>
                <h4 class="modal-title w-100">NOVO INVENTÁRIO</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="f">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo atual" formControlName="currentBalance" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>o saldo atual é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo real" formControlName="actualBalance" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>o saldo real é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Registrado em" formControlName="registeredIn" mask="00/00/0000" required>
                                <mat-error>A data de registro deve ser válida</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="indigo" block="true" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="saveOrUpdateInventory(f.value, modalCreate)" mdbWavesEffect>SALVAR</button>
            </div>
        </div>
    </div>
</div>

<div mdbModal #modalUpdate="mdbModal" class="modal fade modal-zindex">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" (click)="modalUpdate.hide()">
                <span>×</span>
                </button>
                <h4 class="modal-title w-100">EDITAR INVENTÁRIO</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="f">
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo atual" formControlName="currentBalance" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>o saldo atual é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                        <div class="col-6">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Saldo real" formControlName="actualBalance" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                                <mat-error>O saldo real é obrigatório</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Discrepância" formControlName="discrepancy" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" readonly>
                            </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field  class="input-width">
                                <input matInput placeholder="Registrado em" formControlName="registeredIn" mask="00/00/0000" required>
                                <mat-error>A data de registro deve ser válida</mat-error>
                            </mat-form-field> 
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="indigo" block="true" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="saveOrUpdateInventory(f.value, modalUpdate)" mdbWavesEffect>ATUALIZAR</button>
            </div>
        </div>
    </div>
</div>