<app-menu></app-menu>
<div class="body body-background">
    <div class="hero hero-background">
        <div class="row">
            <div class="col-xl-10 col-lg-8 col-md-4 col-sm-6">
                <div class="name-page">
                    <mat-icon>how_to_vote</mat-icon>
                    <h2 >Tesourarias</h2>
                </div>
            </div>
            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="modalCreate.show()" mdbWavesEffect>NOVA TESOURARIA</button>
            </div>
        </div>
    </div>
    <div class="box z-depth-1-half">
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="header">
            <mat-form-field class="input-width" appearance="fill">
                <input [formControl]="search" matInput placeholder="Diga-me o que deseja procurar">
                <button mat-icon-button matSuffix>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        
        <div class="main-content">           
            <div class="empty-data" *ngIf="this.treasuries.length == 0">
                <img src="/assets/img/folder-empty.png" alt="empty">
                <h4>Nenhuma tesouraria encontrada</h4>
                <h5>Crie uma clicando no botão acima</h5>  
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let treasury of treasuries">
                    <mdb-card mdbWavesEffect>
                        <app-charts-treasury [treasury]="treasury"></app-charts-treasury>
                        <mdb-card-body>
                            <button class="icon-more-actions" [matMenuTriggerFor]="actions" mat-icon-button>
                                <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #actions="matMenu">
                                <button style="outline: none;" mat-menu-item (click)="emitterReport(treasury.id)"><mat-icon>description</mat-icon>Ver relatório</button>
                                <button mat-menu-item (click)="showHistoric(treasury.id)"><mat-icon>batch_prediction</mat-icon>Ver histórico</button>
                                <button mat-menu-item (click)="takeInventory(treasury.id)"><mat-icon>style</mat-icon>Fazer inventário</button>
                            </mat-menu>  
                            <mdb-card-title>
                                <h4>{{ treasury.name }}</h4>
                            </mdb-card-title>
                            <mdb-card-text>Atualizado em {{ treasury.updated | date: 'dd/MM/yyyy' }}</mdb-card-text>  
                            <button mat-fab class="warning-color text-white z-depth-0" style="margin-right: 5px" (click)="addTransactions(treasury.id)">
                                <mat-icon>add</mat-icon>
                            </button>
                            <button mat-fab class="indigo text-white z-depth-0" style="margin-right: 5px" (click)="showModalUpdate(treasury)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-fab class="danger-color text-white z-depth-0" (click)="deleteTreasury(treasury)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <hr>
                            <p><mdb-icon fas icon="quote-left"></mdb-icon> {{ treasury.details != null ? treasury.details: 'Não há detalhes para essa tesouraria' }}</p>
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>            
            <div class="main-footer">
                <div class="row">
                    <div class="col">
                        <app-pagination #pagination (click)="changePage(pagination)"></app-pagination>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</div>
<div class="mobile body-background">
    <div class="hero hero-background">
        <div class="header-page">
            <div class="name-page">
                <mat-icon>how_to_vote</mat-icon>
                <h2>Tesourarias</h2>
            </div>
            <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="modalCreate.show()" mdbWavesEffect>NOVA TESOURARIA</button>
        </div>
    </div>
    <div class="box">
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <mat-form-field class="input-width" appearance="fill">
            <input [formControl]="search" matInput placeholder="Qual tesouraria você está procurando?">
            <button mat-icon-button matSuffix>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>

        <mdb-card class="empty-data" *ngIf="this.treasuries.length == 0" mdbWavesEffect>
            <mdb-card-body>
                <img src="/assets/img/folder-empty.png" alt="empty">
                <h4>Nenhuma tesouraria encontrada</h4>
                <h5>Crie uma clicando no botão acima</h5>     
            </mdb-card-body>
        </mdb-card>

        <div class="row">
            <div class="col-12" *ngFor="let treasury of treasuries">
                <mdb-card mdbWavesEffect>
                    <app-charts-treasury [treasury]="treasury"></app-charts-treasury>
                    <mdb-card-body>                    
                        <button class="icon-more-actions" [matMenuTriggerFor]="actions" mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #actions="matMenu">
                            <button style="outline: none;" mat-menu-item (click)="emitterReport(treasury.id)"><mat-icon>description</mat-icon>Ver relatório</button>
                            <button mat-menu-item (click)="showHistoric(treasury.id)"><mat-icon>batch_prediction</mat-icon>Ver histórico</button>
                            <button mat-menu-item (click)="takeInventory(treasury.id)"><mat-icon>style</mat-icon>Fazer inventário</button>
                        </mat-menu>  
                        <mdb-card-title>
                            <h4>{{ treasury.name }}</h4>
                        </mdb-card-title>
                        <mdb-card-text>Atualizado em {{ treasury.updated | date: 'dd/MM/yyyy' }}</mdb-card-text>  
                        <button mat-fab class="warning-color text-white z-depth-0" style="margin-right: 5px;" (click)="addTransactions(treasury.id)">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button mat-fab class="indigo text-white z-depth-0" style="margin-right: 5px;" (click)="showModalUpdate(treasury)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-fab class="danger-color text-white z-depth-0" (click)="deleteTreasury(treasury)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <hr>
                        <p><mdb-icon fas icon="quote-left"></mdb-icon> {{ treasury.details != null ? treasury.details: 'Não há detalhes para essa tesouraria' }}</p>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <div class="main-footer">
            <div class="row">
                <div class="col">
                    <app-pagination #paginationMobile (click)="changePage(paginationMobile)"></app-pagination>
                </div>
            </div>
        </div> 
    </div>
</div>
<app-footer></app-footer>

<div mdbModal #modalCreate="mdbModal" class="modal fade" style="overflow-y: auto" >
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right btn-hide-modal" (click)="hideModalCreate()">
            <span>×</span>
          </button>
          <h4 class="modal-title w-100">NOVA TESOURARIA</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="f">
                <div class="row">
                    <div class="col">
                        <mat-form-field  class="input-width">
                            <input matInput placeholder="Nome" formControlName="name" required>
                            <mat-error>Informe no mínimo quatro caracteres</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field  class="input-width">
                            <input matInput placeholder="Montante inicial" formControlName="initialAmount" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" required>
                            <mat-error>Esse campo precisa ser preenchido</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="input-width">
                            <textarea  #input matInput placeholder="Detalhes" maxlength="200" formControlName="details"></textarea>
                            <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                            <mat-hint>{{input.value?.length || 0}}/200</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer"> 
          <button type="button" block="true" mdbBtn color="info" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="createOrUpdateTreasury(f.value)" mdbWavesEffect>CADASTRAR</button>
        </div>
      </div>
    </div>
</div>
<div mdbModal #modalUpdate="mdbModal" class="modal fade" style="overflow-y: auto" >
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right btn-hide-modal" aria-label="Close" (click)="hideModalUpdate()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100">EDITAR TESOURARIA</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="f">
                <div class="row">
                    <div class="col">
                        <mat-form-field  class="input-width">
                            <input matInput placeholder="Nome" formControlName="name" required>
                            <mat-error>Informe no mínimo quatro caracteres</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field  class="input-width">
                            <input matInput placeholder="Montante inicial" formControlName="initialAmount" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="input-width">
                            <textarea  #input matInput placeholder="Detalhes" maxlength="200" formControlName="details"></textarea>
                            <mat-error>Informe um valor com no mínimo quatro caracteres</mat-error>
                            <mat-hint>{{input.value?.length || 0}}/200</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer"> 
          <button type="button" block="true" mdbBtn color="indigo" class="relative waves-light z-depth-0" [disabled]="!f.valid" (click)="createOrUpdateTreasury(f.value)" mdbWavesEffect>ATUALIZAR</button>
        </div>
      </div>
    </div>
</div>