.body {
    padding-bottom: 115px;

    .hero {
        height: 220px;
        padding: 10px 35px;
   
        .header-page {
            margin-top: 50px;

            .name-page {
                h2 {
                    text-align: center;
                    float: left;
                    color: #fff; 
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                }

                mat-icon { 
                    margin-right: 20px;
                    font-size: 32px;
                    color: #fff;
                    float: left;
                }

                h2, mat-icon { cursor: pointer; }
            }

            button { margin-top: -10px }
        }
    }

    .progress-bar {
        position: fixed;
        width: 100%;
        bottom: 0;
        z-index: 99999999;
    }

    .graphic {
        margin: -70px 35px;
        padding: 30px 35px 40px 35px;
        background-color: #fff;
        border-radius: 6px;
        font-family: 'Lato', sans-serif;

        h5 { text-align: center }

        .main-content {
            .transacoes {
                margin-top: 50px;
            }
        }
    }
}

@media only screen and (max-width: 719px) {
    .body {
        display: none;
    }

    .mobile {
        padding-bottom: 20px;

        .hero {
            height: 240px;
          
            .header-page {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;       
                padding: 60px;

                .name-page {
                    h2 {
                        text-align: center;
                        float: left;
                        color: #fff; 
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                    }
    
                    mat-icon { 
                        margin-right: 20px;
                        font-size: 32px;
                        color: #fff;
                        float: left;
                    }

                    h2, mat-icon { cursor: pointer; }
                }

                button { width: 290px }
            }
        }

        .progress-bar {
            position: fixed;
            width: 100%;
            bottom: 0;
            z-index: 99999999;
        }

        .history {
            font-family: 'Lato', sans-serif;
            padding: 15px;
            
            .main-content {
                mat-form-field { width: 100% }

                h5 { text-align: center; font-weight: bold; }

                .rendimentos, .receitas {
                    margin-top: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: 720px) {
    .mobile { display: none }
}