<app-menu></app-menu>
<div class="body body-background">
    <div class="hero hero-background">
        <div class="row header-page">
            <div class="col-sm-6 col-md-8 col-lg-9 col-xl-10">
                <div class="name-page">
                    <mat-icon>admin_panel_settings</mat-icon>
                    <h2>Suas informações</h2>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="abrirModal()" mdbWavesEffect>EDITAR CONTA</button>
            </div>
        </div>
    </div>
    <div class="account z-depth-1-half">
        <div class="main">         
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>miscellaneous_services</mat-icon>
                            <mdb-card-title>
                                <p>Situação da conta</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.isActive == true ? 'Ativa' : 'Inativa' }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>email</mat-icon>
                            <mdb-card-title>
                                <p>Seu email</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.email }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>face</mat-icon>
                            <mdb-card-title>
                                <p>Seu nome</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.name }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>account_box</mat-icon>
                            <mdb-card-title>
                                <p>Seu sobrenome</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.surname }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>contacts</mat-icon>
                            <mdb-card-title>
                                <p>Usuario de acesso</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.username }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>phone</mat-icon>
                            <mdb-card-title>
                                <p>Whatzapp</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.whatzapp | phone }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>date_range</mat-icon>
                            <mdb-card-title>
                                <p>Última atualização</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.updated | date: 'dd/MM/yyyy' }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile body-background">
    <div class="hero hero-background">
        <div class="header-page">
            <div class="name-page">
                <mat-icon>admin_panel_settings</mat-icon>
                <h2>Configurações</h2>
            </div>
            <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="abrirModal()" mdbWavesEffect>EDITAR CONTA</button>
        </div>
    </div>
    <div class="account">
        <div class="loading" *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="row">
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>miscellaneous_services</mat-icon>
                        <mdb-card-title>
                            <p>Situação da conta</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.isActive == true ? 'Ativa' : 'Inativa' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>email</mat-icon>
                        <mdb-card-title>
                            <p>Seu email</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.email }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>face</mat-icon>
                        <mdb-card-title>
                            <p>Seu nome</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.name }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>account_box</mat-icon>
                        <mdb-card-title>
                            <p>Seu sobrenome</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.surname }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>contacts</mat-icon>
                        <mdb-card-title>
                            <p>Usuario de acesso</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.username }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>phone</mat-icon>
                        <mdb-card-title>
                            <p>Whatzapp</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.whatzapp }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>date_range</mat-icon>
                        <mdb-card-title>
                            <p>Última atualização</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.updated | date: 'dd/MM/yyyy' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<div mdbModal #modal="mdbModal" class="modal fade modal-zindex">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" (click)="modal.hide()">
                    <span>×</span>
                </button>
                <h4 class="modal-title w-100">ATUALIZAR INFORMAÇÕES</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input formControlName="name" maxlength="30" matInput required>
                                <mat-icon matSuffix>face</mat-icon>
                                <mat-error *ngIf="this.form['controls']['name'].errors?.required">O nome é obrigatório</mat-error>
                                <mat-error *ngIf="this.form['controls']['name'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                            </mat-form-field>                        
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Sobrenome</mat-label>
                                <input formControlName="surname" maxlength="30" matInput required>
                                <mat-icon matSuffix>account_circle</mat-icon>
                                <mat-error *ngIf="this.form['controls']['surname'].errors?.required">O sobrenome é obrigatório</mat-error>
                                <mat-error *ngIf="this.form['controls']['surname'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" maxlength="30" matInput required>
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error *ngIf="this.form['controls']['email'].errors?.required">O email é obrigatório</mat-error>
                                <mat-error *ngIf="this.form['controls']['email'].errors?.email">Informe um email válido</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Whatsapp</mat-label>
                                <input formControlName="whatzapp" matInput required mask="(00)00000-0000">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-error *ngIf="this.form['controls']['whatzapp'].errors?.required">O WhatsApp é obrigatório</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Login</mat-label>
                                <input formControlName="username" maxlength="30" matInput required>
                                <mat-icon matSuffix>security</mat-icon>
                                <mat-error *ngIf="this.form['controls']['username'].errors?.required">O nome de usuário é obrigatório</mat-error>
                                <mat-error *ngIf="this.form['controls']['username'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Senha</mat-label>
                                <input #pass formControlName="password" type="password" maxlength="30" matInput required>
                                <mat-icon #icon style="cursor: pointer;"  (click)="hideOrShowPassword(pass, icon)" matSuffix>visibility_off</mat-icon>
                                <mat-error *ngIf="this.form['controls']['password'].errors?.required">A senha é obrigatória</mat-error>
                                <mat-error *ngIf="this.form['controls']['password'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Confirmação de senha</mat-label>
                                <input #pass2 formControlName="confirmPassword" type="password" matInput required>
                                <mat-icon #icon2 style="cursor: pointer;" (click)="hideOrShowPassword(pass2, icon2)" matSuffix>visibility_off</mat-icon>
                                <mat-error *ngIf="this.form['controls']['confirmPassword'].errors?.required">A confirmaçao é obrigatória</mat-error>
                                <mat-error *ngIf="this.form['controls']['confirmPassword'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                                <mat-error *ngIf="this.form['controls']['confirmPassword'].errors?.confirmedValidator">Informe a mesma senha</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form> 
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="info" class="relative waves-light z-depth-0" [disabled]="!form.valid" (click)="atualizar(form.value)" mdbWavesEffect>ATUALIZAR</button>
            </div>
        </div>
    </div>
</div>