.body {
    padding-bottom: 115px;

    .hero {
        height: 220px;
        padding: 10px 35px;

        .header-page {
            margin-top: 50px;

            .name-page {
                h2 {
                    text-align: center;
                    float: left;
                    color: #fff; 
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                }

                mat-icon { 
                    margin-right: 20px;
                    font-size: 32px;
                    color: #fff;
                    float: left;
                }

                h2, mat-icon { cursor: pointer; }
            }

            button { margin-top: -10px }
        }
    }

    .account {
        margin: -70px 35px;
        padding: 35px 35px 35px 35px;
        background-color: #fff;
        border-radius: 6px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
        .main {
            mdb-card {
                padding: 20px;
                text-align: center;
                margin-bottom: 40px;
                cursor: pointer;
                background-color: #e8f1f0;
                transition: background-color 0.6s, color 0.7s;

                mat-icon {
                    color: #2BBBAD;
                    transition: background-color 0.6s, color 0.7s;
                }
                
                p {
                    font-size: 14px;
                    color: #6e818f;
                    font-family: Arial, Helvetica, sans-serif;
                    transition: background-color 0.6s, color 0.7s;
                }

                h4 { margin-top: -13px }
            }

            mdb-card:hover {
                background-color: #77aa77;
                
                color: #fff;
                p, mat-icon {
                    color: #fff;
                }
            }

            mdb-card.aviso {
                background-color: #f7e7e7;
                transition: background-color 0.6s, color 0.7s;

                h4 { margin-top: 0px }

                mat-icon {
                    color: #ff4444;
                    transition: background-color 0.6s, color 0.7s;
                }
            }

            mdb-card.aviso:hover {
                background-color: #ff4444;
                color: #fff;
                p, mat-icon {
                    color: #fff;
                }
            }
            
        }
    }

    .main:last-child { margin-bottom: -20px;}
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-header { 
                h4 { text-align: center } 
            }

            .modal-body {
                form {
                    mat-form-field.input-width { width:100% } 
                }
            }
        }
    }
}

@media only screen and (max-width: 664px) {

    .body { display: none }

    .mobile {        
        .hero {
            height: 240px;
            padding: 60px 35px;
                  
            .header-page {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;         

                .name-page {
                    h2 {
                        text-align: center;
                        float: left;
                        color: #fff; 
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                    }
    
                    mat-icon { 
                        margin-right: 20px;
                        font-size: 32px;
                        color: #fff;
                        float: left;
                    }

                    h2, mat-icon { cursor: pointer; }
                }
                
                button { width: 290px }
            }  
        }  
        
        .account {
            padding: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

            mdb-card {
                padding: 20px;
                text-align: center;
                margin-bottom: 40px;
                cursor: pointer;
                background-color: #e8f1f0;
                transition: background-color 0.6s, color 0.7s;

                mat-icon {
                    color: #0bb3a2;
                    transition: background-color 0.6s, color 0.7s;
                }
                
                p {
                    font-size: 14px;
                    color: #6e818f;
                    font-family: Arial, Helvetica, sans-serif;
                    transition: background-color 0.6s, color 0.7s;
                }

                
            }

            mdb-card:hover {
                background-color: #2BBBAD;
                color: #fff;
                p, mat-icon {
                    color: #fff;
                }
            }

            mdb-card.aviso {
                background-color: #f7e7e7;
                transition: background-color 0.6s, color 0.7s;
                mat-icon {
                    color: #ff4444;
                    transition: background-color 0.6s, color 0.7s;
                }
            }

            mdb-card.aviso:hover {
                background-color: #ff4444;
                color: #fff;
                p, mat-icon {
                    color: #fff;
                }
            }
        }
    }
}


@media only screen and (min-width: 665px) {
    .mobile {
        display: none;
    }
}