<app-menu></app-menu>
<div class="body body-background">
    <div class="hero hero-background">
        <div class="row header-page">
            <div class="col-sm-6 col-md-8 col-lg-9 col-xl-10">
                <div class="name-page">
                    <mat-icon>admin_panel_settings</mat-icon>
                    <h2>Configurações</h2>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="abrirModal()" mdbWavesEffect>EDITAR CONTA</button>
            </div>
        </div>
    </div>
    <div class="account z-depth-1-half">
        <div class="main">
            <div *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>miscellaneous_services</mat-icon>
                            <mdb-card-title>
                                <p>Situação da conta</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.isActive == true ? 'Ativa' : 'Inativa' }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>email</mat-icon>
                            <mdb-card-title>
                                <p>Seu email</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.email }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>face</mat-icon>
                            <mdb-card-title>
                                <p>Seu nome</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.name }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>account_box</mat-icon>
                            <mdb-card-title>
                                <p>Seu sobrenome</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.surname }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>contacts</mat-icon>
                            <mdb-card-title>
                                <p>Usuario de acesso</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.username }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>phone</mat-icon>
                            <mdb-card-title>
                                <p>Whatzapp</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.whatzapp }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>security</mat-icon>
                            <mdb-card-title>
                                <p>Senha de acesso</p>
                            </mdb-card-title> 
                            <mdb-card-title>
                                <h4>{{ user.password }}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                    <mdb-card mdbWavesEffect>
                        <mdb-card-body>
                            <mat-icon>date_range</mat-icon>
                            <mdb-card-title>
                                <p>Última atualização</p>
                            </mdb-card-title>
                            <mdb-card-title>
                                <h4>{{ user.updated | date: 'dd/MM/yyyy'}}</h4>
                            </mdb-card-title>                   
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <div class="col">
                    <mdb-card mdbWavesEffect class="aviso">
                        <mdb-card-body>
                            <mat-icon>info</mat-icon>
                            <mdb-card-title>
                                <h4>Atenção</h4>
                            </mdb-card-title>  
                            <mdb-card-title>
                                <p>Evite a exposição das suas informações, não nos responsabilizamos por eventuais vazamentos de dados</p>
                            </mdb-card-title>                 
                        </mdb-card-body>
                    </mdb-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile body-background">
    <div class="hero hero-background">
        <div class="header-page">
            <div class="name-page">
                <mat-icon>admin_panel_settings</mat-icon>
                <h2>Configurações</h2>
            </div>
            <button type="button" mdbBtn color="light" block="true" class="z-depth-0" (click)="abrirModal()" mdbWavesEffect>EDITAR CONTA</button>
        </div>
    </div>
    <div class="account">
        <div class="loading" *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="row">
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>miscellaneous_services</mat-icon>
                        <mdb-card-title>
                            <p>Situação da conta</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.isActive == true ? 'Ativa' : 'Inativa' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>email</mat-icon>
                        <mdb-card-title>
                            <p>Seu email</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.email }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>face</mat-icon>
                        <mdb-card-title>
                            <p>Seu nome</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.name }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>account_box</mat-icon>
                        <mdb-card-title>
                            <p>Seu sobrenome</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.surname }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>contacts</mat-icon>
                        <mdb-card-title>
                            <p>Usuario de acesso</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.username }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>phone</mat-icon>
                        <mdb-card-title>
                            <p>Whatzapp</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.whatzapp }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>security</mat-icon>
                        <mdb-card-title>
                            <p>Senha de acesso</p>
                        </mdb-card-title> 
                        <mdb-card-title>
                            <h4>{{ user.password }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>date_range</mat-icon>
                        <mdb-card-title>
                            <p>Última atualização</p>
                        </mdb-card-title>
                        <mdb-card-title>
                            <h4>{{ user.updated | date: 'dd/MM/yyyy' }}</h4>
                        </mdb-card-title>                   
                    </mdb-card-body>
                </mdb-card>
            </div>
            <div class="col-12">
                <mdb-card class="aviso" mdbWavesEffect>
                    <mdb-card-body>
                        <mat-icon>info</mat-icon>
                        <mdb-card-title>
                            <h4>Atenção</h4>
                        </mdb-card-title>  
                        <mdb-card-title>
                            <p>Evite a exposição das suas informações, não nos responsabilizamos por eventuais vazamentos de dados</p>
                        </mdb-card-title>                 
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

<div mdbModal #modal="mdbModal" class="modal fade modal-zindex">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right btn-hide-modal" (click)="modal.hide()">
                    <span>×</span>
                </button>
                <h4 class="modal-title w-100">ATUALIZAR INFORMAÇÕES</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Nome</mat-label>
                                <input formControlName="name" matInput required>
                                <mat-error>preencha o nome corretamente</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Sobrenome</mat-label>
                                <input formControlName="surname" matInput required>
                                <mat-error>preencha o sobrenome corretamente</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input formControlName="email" matInput required>
                                <mat-error>preencha o email corretamente</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Whatzapp</mat-label>
                                <input formControlName="whatzapp" matInput required mask="(00) 00000-0000">
                                <mat-error>Preencha essa capo corretamente, ex: (00) 00000-000</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Usuário</mat-label>
                                <input formControlName="username" matInput required>
                                <mat-error>preencha o nome corretamente</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <mat-form-field class="input-width" appearance="outline">
                                <mat-label>Senha</mat-label>
                                <input formControlName="password" matInput required>
                                <mat-error>preencha o sobrenome corretamente</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer"> 
                <button type="button" mdbBtn color="info" class="relative waves-light z-depth-0" [disabled]="!form.valid" (click)="atualizar(form.value)" mdbWavesEffect>ATUALIZAR</button>
            </div>
        </div>
    </div>
</div>