<nav *ngIf="isVisible">
    <ul class="pagination pg-darkgrey" (click)="eventChange()">
        <li class="page-item " [ngClass]="{ 'disabled': previous.disabled == true }">
            <a class="page-link" (click)="previousPage()">{{ previous.label }}</a>
        </li>
        <li class="page-item" [ngClass]="{ 'active': page.isActive == true }" *ngFor="let page of pages; let i = index">
            <a class="page-link z-depth-0" (click)="exchangePage(i)">{{ page.label }}</a>
        </li>
        <li class="page-item" [ngClass]="{ 'disabled': next.disabled == true }">
            <a class="page-link" (click)="nextPage()" >{{ next.label }}</a>
        </li>
    </ul>
</nav>