.income {
    .label {
        font-family: Century Gothic;
    }

    .money {
        font-family: 'Lato', sans-serif;
    }

    mdb-card {
        cursor: pointer;
        margin-bottom: 10px;

        h4 { margin-top: -10px }

        mat-icon.main-icons {
            font-size: 40px;
            float: right;
            margin-top: 10px;
        }
    }
}