<div class="income">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <mdb-card class="default-color text-white z-depth-0" mdbWavesEffect>
                <mdb-card-body>
                    <mat-icon>attach_money</mat-icon>
                    <mdb-card-text>
                        <p class="text-white label">Montante inicial</p>
                    </mdb-card-text>
                    <mdb-card-title>
                        <h4 class="money">{{ income.initialAmount | currency:'BRL' }}</h4>
                    </mdb-card-title>                   
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <mdb-card class="warning-color text-white z-depth-0" mdbWavesEffect>
                <mdb-card-body>
                    <mat-icon>attach_money</mat-icon>
                    <mdb-card-text>
                        <p class="text-white label">Saldo atual</p>
                    </mdb-card-text>
                    <mdb-card-title>
                        <h4 class="money">{{ income.currentBalance | currency:'BRL' }}</h4>
                    </mdb-card-title>                   
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <mdb-card class="info-color text-white z-depth-0" mdbWavesEffect>
                <mdb-card-body>
                    <mat-icon>attach_money</mat-icon>
                    <mdb-card-text>
                        <p class="text-white label">Total de receitas</p>
                    </mdb-card-text>
                    <mdb-card-title>
                        <h4 class="money">{{ income.incomeRecipes | currency:'BRL' }}</h4>
                    </mdb-card-title>                   
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
            <mdb-card class="danger-color text-white z-depth-0" mdbWavesEffect>
                <mdb-card-body>
                    <mat-icon>attach_money</mat-icon>
                    <mdb-card-text>
                        <p class="text-white label">Total de despesas</p>
                    </mdb-card-text>
                    <mdb-card-title>
                        <h4 class="money">{{ income.incomeExpenses | currency:'BRL' }}</h4>
                    </mdb-card-title>                   
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>