mdb-navbar {
    mdb-navbar-brand{
        img.logo { 
            margin-left: 10px;
            margin-right: 10px;
        }
        a {
            color: #fff;
            letter-spacing: 3px;
            font-size: 16px;
            font-weight: bold;
            font-family: 'Candara';
        }
    }
    ul li a {
        font-family: 'Lato', sans-serif;
    }
}  