.body {
    padding-bottom: 115px;

    .hero {
        height: 220px;
        padding: 10px 35px;
        
        .header-page {
            margin-top: 50px;

            .name-page {
                h2 {
                    color: #fff; 
                    float: left;
                    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                }
    
                mat-icon { 
                    margin-right: 30px;
                    font-size: 32px;
                    color: #fff;
                    float: left;
                }

                h2, mat-icon { cursor: pointer; }
            }
            

            button { margin-top: -10px }
        }
    }

    .report {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: -70px 35px;
        padding: 30px 35px 40px 35px;
        background-color: #fff;
        border-radius: 6px;
       
        .main-content {
            mdb-card {
                cursor: pointer;
            }

            .empty-data {
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                text-align: center;
                margin-top: 30px;
                padding: 40px;
                h5 { margin-top: 15px }
            }

            p {
                text-align: center;
                font-size: 20px;
                font-weight: normal;
                color: #3a5266;
            }
            
            table, th, tr, td {
                border: 0px solid #cbd5da;
                border-collapse: collapse;  
            }

            table { 
                width: 100%; 
                margin-top: 20px;

                th {
                    text-align: center;
                    font-size: 20px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    width: 50%;
                    color: #fff; 
                }
             
                tr td {
                    line-height: 18px; 
                    text-align: center;
    
                    .box-moviment { 
                        margin-bottom: 20px;
                       
                        mdb-card {
                            transition: background-color 0.7s;
                            span { 
                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            }
                        }
                        mdb-card:hover {
                            background-color: #eef0f7;
                        }

                    }

                    .box-moviment:last-child {  margin-bottom: 0px; }
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .body {
        display: none;
    }

    .mobile {
        padding-bottom: 0px;

        .hero {
            height: 240px;
            padding: 60px;
                        
            .header-page {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;       

                .name-page {
                    h2 {
                        color: #fff; 
                        float: left;
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    }
        
                    mat-icon { 
                        margin-right: 30px;
                        font-size: 32px;
                        color: #fff;
                        float: left;
                    }
    
                    h2, mat-icon { cursor: pointer; }
                }

                button { width: 260px }
            }
        }

        .report {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            padding: 15px;
 
            .main-content {
                mdb-card {
                    cursor: pointer;
                    padding: 15px;
                }

                .empty-data {
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    text-align: center;
                    margin-top: 15px;
                    padding: 40px;
                    h5 { margin-top: 15px }
                }

                p {
                    text-align: center;
                    font-size: 20px;
                    font-weight: normal;
                    color: #3a5266;
                }
                
                table, th, tr, td {
                    border: 0px solid #cbd5da;
                    border-collapse: collapse;  
                }
    
                table { 
                    width: 100%; 
                    margin: 20px 0;
                    background-color: #fff;
    
                    th {
                        text-align: center;
                        font-size: 20px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        width: 50%;
                        color: #fff; 
                    }
                     
                    tr td {
                        line-height: 18px; 
                        text-align: center;
        
                        .box-moviment { 
                            margin-bottom: 20px;
                            span { 
                                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            }
                        }
    
                        .box-moviment:last-child {  margin-bottom: 0px; }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 577px) {
    .mobile { display: none }
}