<div class="create">
    <div class="progress-bar" *ngIf="loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="about">
        <img src="/assets/img/computer.png" alt="usuario" width="80px" height="80px">
        <h1>Crie sua conta gratuita</h1>
        <p><mdb-icon fas icon="quote-left"></mdb-icon> Para acessar nosso serviço você precisa relizar um cadastro, não se preocupe, vai ser rápido. Caso ja tenha criado uma conta clique no botão abaixo para ser direcionado à tela de login <mdb-icon fas icon="quote-right"></mdb-icon> </p>
        <button mdbBtn type="button" color="indigo" outline="true" (click)="toLogin()" mdbWavesEffect>JA ESTOU CADASTRADO</button> 
    </div>
    <div class="main z-depth-2">
        <div class="header">
            <img src="/assets/img/avatar/avatar-new-user.png" alt="usuario" width="80px" height="80px">
            <h6>Crie sua conta gratuita</h6>
            <p>Informe seus dados</p>
        </div>
        <div class="body">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="input-width" appearance="outline">
                            <mat-label>Nome</mat-label>
                            <input formControlName="name" maxlength="30" matInput required>
                            <mat-icon matSuffix>face</mat-icon>
                            <mat-error *ngIf="this.form['controls']['name'].errors?.required">O nome é obrigatório</mat-error>
                            <mat-error *ngIf="this.form['controls']['name'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                        </mat-form-field>                        
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="input-width" appearance="outline">
                            <mat-label>Sobrenome</mat-label>
                            <input formControlName="surname" maxlength="30" matInput required>
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <mat-error *ngIf="this.form['controls']['surname'].errors?.required">O sobrenome é obrigatório</mat-error>
                            <mat-error *ngIf="this.form['controls']['surname'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <mat-form-field class="input-width" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" maxlength="30" matInput required>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="this.form['controls']['email'].errors?.required">O email é obrigatório</mat-error>
                            <mat-error *ngIf="this.form['controls']['email'].errors?.email">Informe um email válido</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="input-width" appearance="outline">
                            <mat-label>Whatzapp</mat-label>
                            <input formControlName="whatsapp" matInput required mask="(00)00000-0000">
                            <mat-icon matSuffix>phone</mat-icon>
                            <mat-error *ngIf="this.form['controls']['whatsapp'].errors?.required">O WhatsApp é obrigatório</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="input-width" appearance="outline">
                            <mat-label>Login</mat-label>
                            <input formControlName="username" maxlength="30" matInput required>
                            <mat-icon matSuffix>security</mat-icon>
                            <mat-error *ngIf="this.form['controls']['username'].errors?.required">O nome de usuário é obrigatório</mat-error>
                            <mat-error *ngIf="this.form['controls']['username'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                        </mat-form-field>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="input-width" appearance="outline">
                            <mat-label>Senha</mat-label>
                            <input #pass formControlName="password" type="password" maxlength="30" matInput required>
                            <mat-icon #icon style="cursor: pointer;" (click)="hideOrShowPassword(pass, icon)" matSuffix>visibility_off</mat-icon>
                            <mat-error *ngIf="this.form['controls']['password'].errors?.required">A senha é obrigatória</mat-error>
                            <mat-error *ngIf="this.form['controls']['password'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                        <mat-form-field class="input-width" appearance="outline">
                            <mat-label>Confirmação de senha</mat-label>
                            <input #pass2 formControlName="confirmPassword" type="password" matInput required>
                            <mat-icon #icon2 style="cursor: pointer;" (click)="hideOrShowPassword(pass2, icon2)" matSuffix>visibility_off</mat-icon>
                            <mat-error *ngIf="this.form['controls']['confirmPassword'].errors?.required">A confirmaçao é obrigatória</mat-error>
                            <mat-error *ngIf="this.form['controls']['confirmPassword'].errors?.minlength">Informe no mínimo 4 caracteres</mat-error>
                            <mat-error *ngIf="this.form['controls']['confirmPassword'].errors?.confirmedValidator">Informe a mesma senha</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <button mdbBtn type="button" block="true" color="indigo" [disabled]="!form.valid" (click)="createUser(form.value)" mdbWavesEffect>CRIAR CONTA</button>
            </form> 
        </div>
        <div class="footer">
            <hr>
            <p>© 2020 Todos os direitos autorais estão reservados</p>
        </div>
    </div>
</div>
