 .body {
    padding-bottom: 115px;

    .hero {
        height: 220px;
        padding: 60px 35px;
 
        .name-page {
            h2 {
                color: #fff; 
                float: left;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

            mat-icon { 
                margin-right: 30px;
                font-size: 32px;
                color: #fff;
                float: left;
            }

            h2, mat-icon { cursor: pointer; }
        }
    
        button {
            margin-top: -10px;
        }
    }

    .moviment {
        margin: -70px 35px;
        padding: 30px 35px 40px 35px;
        background-color: #fff;
        border-radius: 6px;
        font-family: 'Lato', sans-serif;

        .all-delete { 
            margin-top: 10px;
            button { 
                float: right;
                margin-top:-8px;
            }

            button:focus { outline: none }
        }  

        .main-content {
            ngx-datatable {
                width: 100%; 
                margin-top: 10px;
                box-shadow: none;

                .button-actions { margin-top: -5px }

                .button-actions:focus { outline: none }

                .tipo-movimentacao {
                    color: #fff;
                    border-radius: 15px;
                    padding: 5px;
                    text-align: center;
                }   
            }
        }
    }
}

.modal {
    .modal-dialog {
        .modal-content {
            .modal-header { 
                h4 { text-align: center } 
            }
        }
    }
}

@media only screen and (max-width: 818px) {

    .body { display: none }

    .mobile {
        padding-bottom: 10px;
      
        .hero {
            height: 240px;
            padding: 30px 35px;
                 
            .header-page {
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;       

                .name-page {
                    h2 {
                        text-align: center;
                        float: left;
                        color: #fff; 
                        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
                    }
    
                    mat-icon { 
                        margin-right: 20px;
                        font-size: 32px;
                        color: #fff;
                        float: left;
                    }

                    h2, mat-icon { cursor: pointer; }
                }

                button { width: 290px }
            }
        }

        .movment {
            padding: 15px;
            font-family: 'Lato', sans-serif;
            
            .progress-bar {
                position: fixed;
                width: 100%;
                bottom: 0;
            }

            .main {
                margin-top: 10px;
                margin-bottom: 10px;
                h4, span {
                    color: #fff;
                }
                button:focus { outline: none; }

                .empty-data {
                    font-family: 'Lato', sans-serif;
                    text-align: center;
                    padding: 10px;
                    img { margin-bottom: 15px }
                }

                table { 
                    background-color: #fff;
                    thead {
                        color: #526177;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }

                    p {
                        margin-top: 10px;
                    }

                    button {
                        margin-top: -8px;
                        margin-bottom: -8px;
                    }
                }
            }

           
        }
    }
}

@media only screen and (min-width: 820px) {
    .mobile { display: none }
}


@media (max-width: 480px) {
    .mobile-hidden { display: none }
}